body{
    background-color: black;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#container{
    display:flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;    
}
#canvas1{
    border:1px solid white;
}